*{
    margin: 0;
    padding: 0;
}
.container-fluid{
  font-family: sans-serif;
  
  
}
.carousel-inner{
    padding-top: 3vh;
    padding-bottom: 7vh;
    width: 75%;
    margin: auto;
   
}
.carousel-inner div img{
    width: 100%;
}


body{
    background-color: #f0f4f8;
}

@media(min-width ){
    .carousel-inner{
        width: 1000px !important;
        margin: auto !important; 
    }
}
.primer-texto{
    text-align: center;
    font-family: sans-serif;
   padding: 30px 5px;
   color: rgb(121, 183, 212);}
h1{
    color:rgb(21, 53, 158);
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 20px;
} 

.card{

}

footer{
    padding: 20px;
    margin: 0px;
    
}

.logos img {
    width: 30px;
    margin: 5px;
}
.gmail{
    width:50px !important;
}

.Contactanos{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color:rgb(21, 53, 158)
;
}
.texto-principal{
    background-color:#f0f4f8;
    width: 100% !important;
    padding: 0;
    text-align: center;
}
.body-reserva {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    background-image: url("https://atardeceres-del-rio-apartment.todos-los-hoteles-traslasierra.com/data/Images/OriginalPhoto/11831/1183102/1183102099/image-mina-clavero-atardeceres-del-rio-apartment-8.JPEG");
    background-repeat: repeat;
    background-size: 100% 100%
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formulario h2 {
    color: white;
}

.reserva{
    background-color: #28527a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reserva h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reserva label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.reserva input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.submit {
    background-color: #1b3b5a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
/* fotos */
.fotos div img {
    width: 100%;

    object-fit: contain;
}
.fotos div img:hover{
    transform: scale(1.2);
   
}

.fotos {  display: grid;
    grid-template-columns: 400px 400px 400px 400px 400px;
    grid-template-rows:300px 300px 300px 300px 300px ;
    gap: 0px 0px;
    grid-auto-flow: row;
    overflow: hidden;
    margin: auto;
    grid-template-areas:
      "foto1 foto2 foto3 foto4 foto5"
      "foto1 foto6 foto7 foto4 foto9"
      "foto10 foto11 foto7 foto8 foto9"
      "foto10 foto12 foto14 foto15 foto16"
      "foto13 foto12 . foto15 ."
      ". . . . .";
  }
  
  .foto1 { grid-area: foto1; }
  
  .foto2 { grid-area: foto2; }
  
  .foto3 { grid-area: foto3; }
  
  .foto4 { grid-area: foto4; }
  
  .foto5 { grid-area: foto5; }
  
  .foto6 { grid-area: foto6; }
  
  .foto7 { grid-area: foto7; }
  
  .foto8 { grid-area: foto8; }
  
  .foto9 { grid-area: foto9; }
  
  .foto10 { grid-area: foto10; }
  
  .foto11 { grid-area: foto11; }
  
  .foto12 { grid-area: foto12; }
  
  .foto13 { grid-area: foto13; }
  
  .foto14 { grid-area: foto14; }
  
  .foto15 { grid-area: foto15; }
  
  .foto16 { grid-area: foto16; }
  
  .card img {
    border-radius: 10px ;
    
  }
  .card img:hover{
    transform: scale(1.2);
  }
  .card p {
    font-family: sans-serif;
    text-align: center;
    color: #28527a;
  }