footer{
    padding: 20px;
    margin: 0px;
    
}

.logos  {
    img{
        width: 30px;
        margin: 5px;
        transition: all .2s;

    } 
    img:hover{
        @extend .animacion
    } 
    
}
.gmail{
    width:50px !important;
}

.Contactanos{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color:rgb(21, 53, 158)
;
}